:root {
    --darkblue: #24305E;
    --redpink: #F76C6C;
    --yellow: #F8E9A1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: poppins;
    font-size: 18px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.title {
    font-family: ;
    letter-spacing: 0px;
    text-align: center;
    font-size: 45px;   
    display: block;
    text-transform: uppercase;
}

.title::after {
    display: block;
    height: 4px;
    background-color: var(--darkblue);
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin: 20px auto 40px auto;
}

.home {
    height: 100vh;
    width: 100vw;
    background: url(/media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hamburger {
    position: fixed;
    top: 70px;
    left: 70px;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 100000;
}

.hamburger i {
    background: rgba(1, 0, 31, 0.5);
    padding: 20px;
    border-radius: 100%;
    color: var(--yellow);
    transition: .4s all ease;
}

.hamburger i:hover {
    background: var(--yellow);
    color: rgba(1, 0, 31, 1);
}

.main-nav {
	height: 10vh;
	width: 100vw;
	text-align: center;
	overflow-y: hidden;
    position: fixed;
    z-index: 100000;
    background: rgba(1, 0, 31, 0.5);
}

.main-nav.tog {
    right: 0px;
    opacity: 1;
	background: rgba(1, 0, 31, 1);
}

@media only screen and (max-width: 1450px) {
    .main-nav {
        height: 100vh;
        width: 300px;
        right: -300px;
        opacity: 0;
        transition: .4s all ease-out;
	   	background: rgba(1, 0, 31, 1);
    }
    
    .hamburger {
        opacity: 1;
    }
}

.main-nav ul {
    text-align: center;
}

.main-nav ul li {
    display: inline-block;
    overflow: hidden;
}

.main-nav a {
	margin: 2.5vh 40px;
	padding: 10px 20px;
	font-size: 22px;
	font-family: poppins;
    text-transform: uppercase;
	text-decoration: none;
    color: var(--yellow);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.main-nav a:hover {
    color: #f76c6c;
	transition: .4s all ease;
}

.main-nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #F76C6C;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main-nav a:hover:before, .main-nav a:focus:before, .main-nav a:active:before {
    right: 0;
}

@keyframes stretchy {
	0% {letter-spacing: 0px;}
	25% {letter-spacing: 1px;}
	50% {letter-spacing: 2px;}
	75% {letter-spacing: 1px;}
	100% {letter-spacing: 0px;}
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 2;
    text-align: center;
}

.home-content h1 {
    margin: 10px auto;
    color: var(--redpink);
    font-size: calc(40px + 1.5vw);
    animation: stretchy 10s 2s linear infinite;
    padding: 10px 20px;
    background: transparent;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid var(--yellow); /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 2.75s steps(40, end),
    blink-caret .5s step-end infinite;
}

@media only screen and (max-width: 800px) {
    .home-content h1 {
        margin: 10px auto;
        color: var(--redpink);
        font-size: calc(40px + 1.5vw);
        animation: stretchy 10s 2s linear infinite;
        padding: 10px 20px;
        width: 95vw;
        white-space: pre-wrap;
        border: none;
    }
}

.home-content a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background: var(--yellow);
    width: 300px;
    text-transform: uppercase;
    border-radius: 40px;
    position: relative;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 600;
    color: var(--darkblue);
}

.home-content a:hover {
    transition: .4s all ease;
    background: var(--darkblue);
    color: var(--yellow);
}

.home-content h2 {
    margin: 10px auto 20px auto;
    color: var(--yellow);
    text-transform: uppercase;
    font-size: calc(20px + 0.25vw);
    padding: 10px 20px;
    background: transparent;
    overflow: hidden;
    font-family: "poppins";
    letter-spacing: 1px;
    font-weight: 400;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--yellow); }
}

.about {
    background: url(/media/books.jpg);
    background-size: contain;
    color: var(--darkblue);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.about .over {
    background: rgb(248, 233, 161, 0.8);
    padding: 50px calc(10vw + 30px);
    overflow: hidden;
    min-height: 100vh;
}

@media screen only and (max-width: 800px) {
    .about .over {
        padding: 50px 5px;
    }
    
    .about-pic {
        height: 250px;
        max-width: 250px;
    }
}

.about-text {
    font-family: montserrat;
    margin-bottom: 40px;
    line-height: 1.75;
    font-size: 18px;
    font-weight: 500;
}

.about-pic {
    height: 300px;
    width: 300px;
    display: inline-block;
    position: relative;
    margin: 5% 5%;
    overflow: hidden;
}

@media only screen and (max-width: 1600px) {
    .about .over {
        padding: 50px 30px;
    }
    
    .about-pic {
        margin: 50px;
    }
    
    .about-text {
        width: 80%;
        position: relative;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 1000px) {
    .about-pic {
        margin: 5% auto;
        height: 250px;
        display: block;
        width: 250px;
    }
}

.image-holder {
    height: 90%;
    width: 90%;
    position: relative;
    margin: 20px auto;
    border-radius: 100%;
    background-size: contain;
    overflow: hidden;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, .5);
}

.aarush {
    background: url(/media/aarush.jpg);
    background-size: contain;
}

.ashmit {
    background: url(/media/ashmit.jpg);
    background-size: 600px auto;
    background-position: -125px; 
}

.ananya {
    background: url(/media/ananya.jpg);
    background-size: 600px auto;
    background-position: -150px -100px; 
}

.Iover {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
}

.Iover p {
    position: relative;
    margin: calc(50% - 12px) auto;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.Iover:hover {
    opacity: 1;
    transition: .4s all ease;
    cursor: pointer;
}

.rocket {
    height: 200px;
    width: 200px;
    background: url(/media/rocket.png);
    background-size: contain;
    position: absolute;
    opacity: 0;
}

.mission {
    min-height: 65vh;
    width: 100vw;
    background: url(/media/notebook.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.mission .over-m {
    min-height: 65vh;
    width: 100vw;
    background: rgb(36,48,94,0.85);
    padding: 50px calc(10vw + 30px);
}

.over-m h1 {
    color: var(--yellow);
}

.over-m h1::after {
    background-color: var(--yellow);
}

.mission .over-m p {
    font-family: poppins;
    color: var(--yellow);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 24px;
}

@media only screen and (max-width: 1600px) {
    .over-m {
        padding: 50px 20px;
    }
    
    .over-m p {
        width: 90%;
        position: relative;
        margin: 0 auto 20px auto;
    }
}

@media only screen and (max-width: 800px) {
    .mission .over-m {
        padding: 50px 5px;
    }    
}


.over-m .block {
    height: 400px;
    width: 400px;
    overflow: hidden;
    background: var(--yellow);
    padding: 20px;
    border-radius: 40px;
    margin: 2.5%;
    display: inline-block;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 800px) {
    .over-m .block {
        width: 90%;
        height: auto;
    }
    
    .block {
        margin: 40px 0; 
    }
}

.block .mission-Title {
    color: var(--darkblue);
    text-transform: uppercase;
    font-size: 30px;
    font-family: poppins;
    letter-spacing: 1px;
}

.block .mission-subheading {
    color: var(--darkblue);
    font-family: montserrat;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

.mission-Title::after {
    display: block;
    height: 4px;
    background-color: var(--darkblue);
    content: " ";
    width: 110%;
    margin: 0 auto;
    margin: 10px auto;
}

.box {
    height: 250px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 400px;
    margin: 2.5%;
    color: var(--redpink);
}

.box h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.num {
    font-size: 100px; 
    margin: 10px;
}

@media only screen and (max-width: 1800px) {
    .box {
        margin: 0px
    }
}

@media only screen and (max-width: 1600px) {
    .box {
        margin: 0px;
        width: 33%;
    }  
    
    .num {
        font-size: 60px; 
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .box {
        width: 80%;
        margin: 0;
    }
    
    .num {
        font-size: 60px; 
        margin: 10px;
    }
}

.partnerships {
    min-height: 65vh;
    width: 100vw;
    background: url(/media/books.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.partnerships .over-p {
    min-height: 65vh;
    width: 100vw;
    background: rgb(248, 233, 161, 0.85);
    padding: 50px calc(10vw + 30px);
}

.partnerships .over-p h1 {
    color: var(--darkblue);
}

.partner {
    background: transparent;
    color: var(--darkblue);
    padding: 20px 40px;
    border-radius: 40px;
    max-width: 700px;
    display: inline-block;
    text-align: center;
}

.partner div {
    height: 200px;
    max-width: 622px;
    position: relative;
    background: url(/media/marslogo.png);
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, .5);
    border-radius: 40px;
}

@media only screen and (max-width: 800px) {
    .partnerships .over-p {
        padding: 50px 5px;
    }
    
    .partner div {
        box-shadow: 0 0 0 0 transparent;
        border-radius: 0%;
    }
}

.journal {
    min-height: 100vh;
    background: var(--darkblue);
    padding: 50px;
}

@media only screen and (max-width: 800px) {
	.journal {
		padding: 50px 5px;
	}
}

.journal {
    color: var(--yellow);
}

.journal h1::after {
    background: var(--yellow);
}

.blog-box-main {
    min-height: 500px;
    max-width: 400px;
    position: relative;
    margin: 2.5% auto;
    background: var(--redpink);
    border-radius: 60px;
    padding: 20px;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, .5);
}

.blog-box-main h1::after {
    background: var(--darkblue);
}

.blog-box-main p {
    color: var(--yellow);
}

.typeform-link {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background: var(--yellow);
    width: 200px;
    text-transform: uppercase;
    border-radius: 40px;
    position: relative;
    margin: 50px auto;
    font-size: 20px;
    font-weight: 600;
    color: var(--darkblue);
}

.typeform-link:hover {
    transition: .4s all ease;
    background: var(--darkblue);
    color: var(--yellow);
}

.blog-box {
    min-height: 500px;
    max-width: 500px;
    position: relative;
    margin: 2.5% 5%;
    background: var(--yellow);
    border-radius: 60px;
    padding: 20px;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, .5);
    display: inline-block;
    color: var(--darkblue);
}

.blog-heading {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 20px auto;
    position: relative;
}

.blog-link {
    background: var(--redpink);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 20px;
    color: var(--darkblue);
}

.blog-link:hover {
    transition: .4s all ease;
    background: var(--darkblue);
    color: var(--redpink);
}

.contact-us {
    min-height: 100vh;
    background: var(--yellow);
    padding: 50px;
    overflow-x: hidden;
    width: 100vw;
}

.contact-us h1 {
    color: var(--darkblue);
}

.contact-us div {
    height: 90vh;
    max-width: 90vw;
}

.footer {
    height: 40px;
    background: var(--darkblue);
    padding: 10px;
    color: var(--yellow);
    width: 100vw;
}

.footer p {
    text-transform: uppercase;
    font-size: 14px;
}
