@charset "UTF-8";

/*

	Colors:
	
	Yellow: #F8E9A1;
	Red-pink: #F76C6C;
	Light-Blue: #A8D0E6;
	Light-Dark-Blue: #374785;
	Dark-Blue: #24305E;

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	font-family: Overpass;
}

.home {
	height: 100vh;
	width: 100vw;
	background: #24305E;
	overflow-y: hidden;
    text-align: center;
    background-image: url("/media/background.png");
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.nav-main {
	height: 10vh;
	width: 100vw;
	text-align: center;
	overflow-y: hidden;
}

.nav-main-item {
	margin: 2.5vh 40px;
	padding: 10px 20px;
	font-size: 28px;
	font-family: Bebas Neue;
	text-decoration: none;
}

.nav-main-item-home:hover {
    color: #f76c6c;
	transition: .4s all ease;
}

.nav-main-item-about:hover {
    color: #f76c6c;
	transition: .4s all ease;
}

.darkblue {
    color: #24305e;
}

.redpink {
    color: #f76c6c;
}

.yellow {
    color: #f8e9a1;
}

@keyframes stretchy {
	0% {letter-spacing: 0px;}
	25% {letter-spacing: 1px;}
	50% {letter-spacing: 2px;}
	75% {letter-spacing: 1px;}
	100% {letter-spacing: 0px;}
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 2;
}

.home-content h1 {
    margin: 20px auto;
    color: #f76c6c;
    font-size: 80px;
    animation: stretchy 10s 2s linear infinite;
    padding: 10px 20px;
    background: #24305e;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid #f8e9a1; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@media only screen and (max-width: 800px) {
    .home-content h1 {
        margin: 20px auto;
        color: #f76c6c;
        font-size: 80px;
        animation: stretchy 10s 2s linear infinite;
        padding: 10px 20px;
        background: #24305e;
        width: 95vw;
        white-space: pre-wrap;
        border: none;
    }
}

.home-content a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background: #f8e9a1;
    width: 200px;
    text-transform: uppercase;
    border-radius: 40px;
    position: relative;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 600;
    color: #24305e;
}

.home-content a:hover {
    transition: .4s all ease;
    background: #f76c6c;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f8e9a1; }
}

.rocket {
    height: 15vw;
    width: 15vw;
    min-height: 200px;
    min-width: 200px;
    overflow-y: hidden;
    background-image: url("/media/rocket.png");
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    position: absolute;
    bottom: 20px;
    left: 51%;
    transform: translateX(-50%) rotate(-50deg);
    animation: takeoff 4s 2s linear 1 forwards;
    z-index: 4;
}

@keyframes takeoff {
    0% {bottom: 20px;}
    100% {bottom: 300%;}
}








.about {
	width: 100vw;
    min-height: 100vh;
	background: #F8E9A1;
    text-align: center;
}

.about-content {
	width: 65vw;
	text-align: center;
	margin-top: 7.5vh;
	margin-left: auto;
    margin-right: auto;
    position: relative
	overflow-y: hidden;
    margin-bottom: 5vh;
}

.about-heading {
	font-size: 50px;
	margin-bottom: 2.5vh;
	font-family: Bebas Neue;
	color: #24305E;
	animation: stretchy 10s linear 2s infinite;
}

.about-text {
	font-family: overpass;
	font-size: 20px;
	color: #24305E;
}

.about-pic {
	height: 30vh;
	width: 30vh;
	background: white;
	border-radius: 100%;
	overflow: hidden;
    display: inline-block;
    margin: 5vw 5vw;
}

.about-image {
	height: 30vh;
	width: 30vh;
	border-radius: 100%;
}


.rocket-about {
    transform: rotate(35deg);
    position: absolute;
    top: 70%;
    left: -550%;
    animation: move 4s linear 2s 1;
    height: calc(15vw + 10vh);
    overflow-y: hidden;
}

@keyframes move {
    0% {left: -50%;}
    100% {left: 200%; top: 0%; transform: rotate(10deg);}
}

.rocket-image {
    height: calc(15vw + 10vh);
}





.blog {
    width: 100vw;
    min-height: 100vh;
    background-color: #f8e9a1;
    text-align: center;
}

.blog-box {
    min-height: 500px;
    width: 50vw;
    min-width: 400px;
    display: inline-block;
    margin: 30px 5vw;
    background: #24305e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 20px;
}

.blog-heading {
    font-family: Bebas Neue;
    letter-spacing: 1.2px;
    font-size: 40px;
    margin-top: 2.5%;
    color: #f76c6c;
}

.blog-content {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #f8e9a1;
    font-size: 20px;
    margin-bottom: 2.5%;
}

.blog-link {
    padding: 10px 20px;
    background-color: #f76c6c;
    color: #f8e9a1;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    position: relative;
    margin: 5% auto;
}

.blog-link:hover {
    color: #f76c6c;
    background-color: #f8e9a1;
    transition: .4s all ease;
}

.typeform-link {
    padding: 10px 20px;
    color: #f8e9a1;
    background-color: #24305e;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: 800;
    font-size: 26px;
    margin: 25%;
}

.typeform-link:hover {
    background-color: #f8e9a1;
    color: #24305e;
    transition: .4s all ease;
}

.mission {
    background: #f76c6c;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
}

.mission-content {
	width: 65vw;
	text-align: center;
	margin-top: 7.5vh;
	margin-left: auto;
    margin-right: auto;
    position: relative
	overflow-y: hidden;
    margin-bottom: 5vh;
    padding: 40px;
    background: rgba(248, 233, 161, 1);
    border-radius: 40px;
}

.mission-heading {
	font-size: 50px;
	margin-bottom: 2.5vh;
	font-family: Bebas Neue;
	color: #24305E;
	animation: stretchy 10s linear 2s infinite;
}

.mission-text {
	font-family: overpass;
	font-size: 20px;
	color: #24305E;
}
