Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@AshmitD 
AshmitD
/
thestarswithinreach.com
1
00
 Code
 Issues 0
 Pull requests 0 Actions
 Projects 0
 Wiki
 Security 0
 Insights
 Settings
thestarswithinreach.com/styleV3.css
@AshmitD AshmitD Update and rename Partnership.css to styleV3.css
885c27d 4 days ago
688 lines (587 sloc)  12.1 KB
  
@charset "UTF-8";

/*
	Colors:
	
	Yellow: #F8E9A1;
	Red-pink: #F76C6C;
	Light-Blue: #A8D0E6;
	Light-Dark-Blue: #374785;
	Dark-Blue: #24305E;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	font-family: Overpass;
}

.home {
	height: 100vh;
	width: 100vw;
	background: #24305E;
	overflow-y: hidden;
    text-align: center;
    background-image: url("/media/background.png");
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.nav-main {
	height: 10vh;
	width: 100vw;
	text-align: center;
	overflow-y: hidden;
}

.nav-main-item {
	margin: 2.5vh 40px;
	padding: 10px 20px;
	font-size: 28px;
	font-family: Bebas Neue;
	text-decoration: none;
}

.nav-main-item-home:hover {
    color: #f76c6c;
	transition: .4s all ease;
}

.nav-main-item-about:hover {
    color: #f76c6c;
	transition: .4s all ease;
}

.darkblue {
    color: #24305e;
}

.redpink {
    color: #f76c6c;
}

.yellow {
    color: #f8e9a1;
}

@keyframes stretchy {
	0% {letter-spacing: 0px;}
	25% {letter-spacing: 1px;}
	50% {letter-spacing: 2px;}
	75% {letter-spacing: 1px;}
	100% {letter-spacing: 0px;}
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 2;
}

.home-content h1 {
    margin: 20px auto;
    color: #f76c6c;
    font-size: 80px;
    animation: stretchy 10s 2s linear infinite;
    padding: 10px 20px;
    background: #24305e;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid #f8e9a1; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@media only screen and (max-width: 800px) {
    .home-content h1 {
        margin: 20px auto;
        color: #f76c6c;
        font-size: 80px;
        animation: stretchy 10s 2s linear infinite;
        padding: 10px 20px;
        background: #24305e;
        width: 95vw;
        white-space: pre-wrap;
        border: none;
    }
}

.home-content a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background: #f8e9a1;
    width: 200px;
    text-transform: uppercase;
    border-radius: 40px;
    position: relative;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 600;
    color: #24305e;
}

.home-content a:hover {
    transition: .4s all ease;
    background: #f76c6c;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f8e9a1; }
}

.rocket {
    height: 15vw;
    width: 15vw;
    min-height: 200px;
    min-width: 200px;
    overflow-y: hidden;
    background-image: url("/media/rocket.png");
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    position: absolute;
    bottom: 20px;
    left: 51%;
    transform: translateX(-50%) rotate(-50deg);
    animation: takeoff 4s 2s linear 1 forwards;
    z-index: 4;
}

@keyframes takeoff {
    0% {bottom: 20px;}
    100% {bottom: 300%;}
}








.about {
	width: 100vw;
    min-height: 100vh;
	background: #F8E9A1;
    text-align: center;
}

.about-content {
	width: 65vw;
	text-align: center;
	margin-top: 7.5vh;
	margin-left: auto;
    margin-right: auto;
    position: relative
	overflow-y: hidden;
    margin-bottom: 5vh;
}

.about-heading {
	font-size: 50px;
	margin-bottom: 2.5vh;
	font-family: Bebas Neue;
	color: #24305E;
	animation: stretchy 10s linear 2s infinite;
}

.about-text {
	font-family: overpass;
	font-size: 20px;
	color: #24305E;
}

.about-pic {
	height: 30vh;
	width: 30vh;
	background: white;
	border-radius: 100%;
	overflow: hidden;
    display: inline-block;
    margin: 5vw 5vw;
}

.about-image {
	height: 30vh;
	width: 30vh;
	border-radius: 100%;
}


.rocket-about {
    transform: rotate(35deg);
    position: absolute;
    top: 70%;
    left: -550%;
    animation: move 4s linear 2s 1;
    height: calc(15vw + 10vh);
    overflow-y: hidden;
}

@keyframes move {
    0% {left: -50%;}
    100% {left: 200%; top: 0%; transform: rotate(10deg);}
}

.rocket-image {
    height: calc(15vw + 10vh);
}





.blog {
    width: 100vw;
    min-height: 100vh;
    background-color: #f8e9a1;
    text-align: center;
}

.blog-box {
    min-height: 500px;
    width: 35vw;
    min-width: 400px;
    display: inline-block;
    margin: 30px 5vw;
    background: #24305e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    padding: 20px;
}

.blog-heading {
    font-family: Bebas Neue;
    letter-spacing: 1.2px;
    font-size: 40px;
    margin-top: 2.5%;
    color: #f76c6c;
}

.blog-content {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: #f8e9a1;
    font-size: 20px;
    margin-bottom: 2.5%;
}

.blog-link {
    padding: 10px 20px;
    background-color: #f76c6c;
    color: #f8e9a1;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    position: relative;
    margin: 5% auto;
}

.blog-link:hover {
    color: #f76c6c;
    background-color: #f8e9a1;
    transition: .4s all ease;
}

.typeform-link {
    padding: 10px 20px;
    color: #f8e9a1;
    background-color: #24305e;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    font-weight: 800;
    font-size: 26px;
    margin: 25%;
}

.typeform-link:hover {
    background-color: #f8e9a1;
    color: #24305e;
    transition: .4s all ease;
}

.mission {
    background: #f76c6c;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
}

.mission-content {
	width: 65vw;
	text-align: center;
	margin-top: 7.5vh;
	margin-left: auto;
    margin-right: auto;
    position: relative
	overflow-y: hidden;
    margin-bottom: 5vh;
    padding: 40px;
    background: rgba(248, 233, 161, 1);
    border-radius: 40px;
}

.mission-heading {
	font-size: 100px;
	margin-bottom: 2.5vh;
	font-family: Bebas Neue;
	color: #F8E9A1;
	animation: stretchy 10s linear 2s infinite;
    font-weight: 100px;
    margin-top: 20px;
}

.mission-text {
	font-family: overpass;
	font-size: 20px;
	color: #24305E;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

body{
  font-family: Overpass;
  color: #333;  

}

header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
  
 header p{
   text-align: center;
   margin-bottom: 0;
 }

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: green;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background:#F8E9A1;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #F8E9A1;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #F8E9A1;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background:  #F76C6C;
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-bottom-right-radius: 5px;
  color: #24305E;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);\
  border-radius: 20px;
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    border-radius: 20px;
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #F8E9A1;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background:#24305E;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: #F8E9A1;
  
  z-index: 15;
    color: #F76C6C;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

html {
    background:  #F76C6C;
}

.block {
  display: inline-block;
  width: 350px;
  height: 200px;
  background-color: #24305E;
  margin-left: 25px;
  margin-right: 25px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}
.container  {  
 text-align: center;
 margin-top: 0px;
 margin-left: 0px;
 margin-right: 0px;
}
.mission-Title {
    color:#F8E9A1;
    font-weight: bold;
    margin-top: 0px;
    background: #374785;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;      
    text-transform: uppercase;
    font-size: 40px;
}
.icon {
    align-self: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top:15px;
    font-size: 1.5em;
    color: #F8E9A1;
}

.title-container {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.mission-subheading {
    font-size: 22px;
}

.line {
    width: 35%;
    margin-top: 0px;
    height: 5px;
  margin: 0 auto;
    margin-top: 10px;
    background: #374785;
    border: 0px;
    border-radius: 2px;
}

 #trapezoid {
      border-bottom: 100px solid red;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      width: 100%;
    }
  


